body{
    background-color: lightblue;
}
.container{
    display: flex;
    flex-direction: column;
}
.main{
    border: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    background-color: white;
    width: 70%;
}

.form{
    display: flex;
    border: 2px solid;
    background-color: white;
    padding: 10px;
    justify-content: space-between;
    width: 70%;
}

.info :nth-child(1){
    color: red;
}

.info :last-child{
    color: blue;
}

.image{
    margin-right: 100px;
}

button{
    background-color: red;
    color: white;
    padding: 5px;
}

form{
    padding: 10px;
}

#Email{
    margin-top: 15px;
}

#Company{
    margin-left: 10px;
}

#Num{
    margin-left: 10px;
}